* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

/* ~~~~add~~~~ */
a {
  color: #fefefe;
  text-decoration: none; 
} 

a:hover {
  opacity: 50%;
  transition: 0.5s;
}
/* ~~~~add~~~~~ */

img {
  box-shadow: 0 0 10px #000000;
}

p {
  line-height: 1.8em;
}

.detail-button {
  display: inline-block;
  transition: 0.5s;
}

.detail-button:hover {
  text-decoration: underline;
}

/* --------------------- */

html {
  background-color: #000000;
  color: #fefefe;
}

header {
  background: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-contents .logo img {
  height: 25px;
  font-size: 20px;
  box-shadow: none;
}

.header-contents {
  display: flex;
  height: 50px;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;
}

.header-contents nav {
  width: 50%;
}

.header-contents a {
  display: block;
}

.contact-button {
  text-align: center;
  background-color: #000000;
  color: #fefefe;
  padding: 5px 10px;
  border: #fefefe 1.5px solid;
  border-radius: 10px;
}

.contact-button:hover {
  color: #000000;
  background-color: #fefefe;
  opacity: 100%;
}

/* ---------------- */

.eye-catch-contents {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 1fr 10fr 1fr;
}

.eye-catch-contents .center {
  display: flex;
  padding: 100px 10px 30px;
  justify-content: space-between;
}

.eye-title p:nth-child(1){
  font-size: 64px;
  font-weight: 900;
}

.eye-title p:nth-child(2){
  font-size: 12px;
  font-weight: 600;
}

.eye-right-contents {
  width: 40%;
  margin-top: 20px;
  text-align: left;
}

.eye-info {
  margin-bottom: 20px;
}

.eye-info a {
  display: inline;
  text-decoration: underline;
}

.sns ul {
  justify-content: flex-start;
  gap: 10%;
}

.sns-icon img {
  max-width: 40px;
  height: 40px;
}

/* -------------------- */

.about-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.about-contents .center {
  display: flex;
  padding: 75px 10px;
  justify-content: space-between;
}

.about-text {
  width: 45%;
}

.about-text .title-contents {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-info .detail-button {
  margin-top: 30px;
}

.about-contents img {
  width: 45%;
  height: 600px;
  object-fit: cover;
  background-color: aquamarine;
}

/* -------------------- */

.achieve-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.achieve-contents .center {
  padding: 75px 10px;
  text-align: center;
}

.achieve-contents .title-contents {
  margin-bottom: 75px; 
  /* 75px? or 50px? */
}

.achieve-gallery {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
}

.achieve-gallery-contents {
  aspect-ratio: 1 / 1;
  width: 30%;
  background-color: aquamarine;

}

.achieve-gallery-contents img {
  aspect-ratio: 1 / 1;
  width: 100px;
  margin-bottom: 10px;
}

.achieve-gallery-contents p {
  font-weight: 600;
  margin: 0 20%;
}

/* -------------------- */

.activity-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.activity-contents .center {
  padding: 75px 10px;
  text-align: center;
}

.activity-contents .title-contents {
  margin-bottom: 75px; 
  /* 75px? or 50px? */
}

.activity-inf {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.activity-inf-text {
  width: 45%;
}

.activity-inf-text h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.activity-inf img {
  width: 45%;
  height: 600px;
  background-color: aquamarine;
}

.activity-inf:nth-child(4) {
  flex-direction: row-reverse;
}

/* -------------------- */

footer {
  padding: 50px 10%;
}

footer .sns {
  margin-top: 50px;
  width: 50%;
}

/* ------tmp----- */
/* -main horizon line style- */

.main-horizon-line {
  display: block;
  height: 1px;
  width: calc(100% / 12 * 11);
  background-color: #fefefe;
  transition: 1.5s;
}

.main-horizon-line:nth-child(5) {
  margin-left: calc(100% / 12);
}

.main-horizon-line:last-of-type {
  width: 100%;
}

.sub-horizon-line {
  display: block;
  height: 1px;
  width: calc(100% / 12 * 11);
  background-color: #fefefe;
}

/* -sub vertical line style- */

.sub-vertical-line {
  display: block;
  width: 1px;
  background-color: #fefefe;
}

.line-left {
  height: 100%;
  margin-left: auto;
}

.line-vert-a {
  height: 110%;
  margin-left: auto;
  position: relative;
}

/* -------------------- */

.grid__item:nth-child(1) {
  background: #000000;
}
