* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

/* ~~~~add~~~~ */
a {
  color: #fefefe;
  text-decoration: none; 
} 

a:hover {
  opacity: 50%;
  transition: 0.5s;
}
/* ~~~~add~~~~~ */

img {
  box-shadow: 0 0 10px #000000;
}

p {
  line-height: 1.8em;
}

.detail-button {
  display: inline-block;
  transition: 0.5s;
}

.detail-button:hover {
  text-decoration: underline;
}

/* media query add TODO */
/* big tablet screen */
@media  screen and (max-width: 1200px) { 
  h1 {
    font-size: 36px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 16px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 14px;
    font-weight: 600;
  }

  p {
    font-size: 12px;
  }

  img {
    box-shadow: 0 0 8px #000000;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 16px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 600;
  }

  p {
    font-size: 10px;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
  h1 {
    font-size: 20px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 14px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 600;
  }

  p {
    font-size: 10px;
  }
}

/* --------------------- */

html {
  background-color: #000000;
  color: #fefefe;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-contents .logo img {
  height: 25px;
  font-size: 20px;
  box-shadow: none;
}

.header-contents {
  display: flex;
  height: 50px;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;
}

.header-contents nav {
  width: 50%;
}

.header-contents a {
  display: block;
}

.contact-button {
  text-align: center;
  background-color: #000000;
  color: #fefefe;
  padding: 5px 10px;
  border: #fefefe 1.5px solid;
  border-radius: 10px;
}

.contact-button:hover {
  color: #000000;
  background-color: #fefefe;
  opacity: 100%;
}

/* 2024-12-25 changed */

.sp-header-contents {
  display: none;
}

.header-menu {
  transition: 0.5s;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
    
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .header-contents {
    display: none;
  }

  .sp-header-contents {
    display: block;
  }

  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    width: 80%;
    max-width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 1.0);
    transform: translateX(100%);
  }

  .menu-list {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .header-menu ul {
    margin: 150px 32px;
    height: 25%;
    flex-direction: column;
    align-items: self-end;
    justify-content: space-between;
  }

  .header-menu li {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px #fefefe;
  }

  .header-menu a {
    font-size: 18px;
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 32px;
    right:32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 9999;
  }

  .hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute;
    height: 2px;
    background-color: #fefefe;
    width:100%;
    z-index: 10;
  }
  
  .hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
  }
  
  .hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
  }
  
  .hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
  }
  
  .hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
  }
  
  .hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
  }

  .hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
  }

  .open {
    transform: translateX(0);
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* ---------------- */

.eye-catch-contents {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 1fr 10fr 1fr;
}

.eye-catch-contents .center {
  display: flex;
  padding: 100px 10px 30px;
  justify-content: space-between;
}

.eye-title p:nth-child(1){
  font-size: 64px;
  font-weight: 900;
}

.eye-title p:nth-child(2){
  font-size: 12px;
  font-weight: 600;
}

.eye-right-contents {
  width: 40%;
  margin-top: 20px;
  text-align: left;
}

.eye-info {
  margin-bottom: 20px;
}

.eye-info a {
  display: inline;
  text-decoration: underline;
}

.sns ul {
  justify-content: flex-start;
  gap: 10%;
}

.sns-icon img {
  max-width: 40px;
  height: 40px;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .eye-catch-contents{
    grid-template-columns: 1fr 18fr 1fr;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) {   
  .eye-catch-contents {
    grid-template-columns: auto;
    height: 90vh;
  }

  .eye-catch-contents .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px 50px;
    text-align: center;
  }

  .eye-title p:nth-child(1){
    font-size: 48px;
  }

  .eye-title p:nth-child(2) {
    font-size: 10px;
    position: relative;
    top: -20px;
  }

  .eye-right-contents {
    width: 80%;
    max-width: 400px;
  }

  .eye-right-contents .sns {
    display: none;
  }

  .eye-info {
    text-align: center;
  }

  .sns-icon img {
    max-width: 32px;
    height: 32px;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* -------------------- */

.about-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.about-contents .center {
  display: flex;
  padding: 75px 10px;
  justify-content: space-between;
}

.about-text {
  width: 45%;
}

.about-text .title-contents {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-info .detail-button {
  margin-top: 30px;
}

.about-contents img {
  width: 45%;
  height: 600px;
  object-fit: cover;
}


/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .about-contents {
    grid-template-columns: 1fr 18fr 1fr;
  }

  .about-contents .center {
    align-items: center;
  }

  .about-text {
    width: 48%;
  }

  .about-text .title-contents {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .about-contents img {
    width: 48%;
    height: 400px;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .about-contents {
    grid-template-columns: auto;
  }

  .about-contents .center {
    padding: 75px 5%;
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    width: 100%;
    margin-bottom: 75px;
  }

  .about-info {
    padding: 0 20px 0;
  }
  
  .about-contents img {
    width: 100%;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* -------------------- */

.achieve-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.achieve-contents .center {
  padding: 75px 10px;
  text-align: center;
}

.achieve-contents .title-contents {
  margin-bottom: 75px; 
  /* 75px? or 50px? */
}

.achieve-gallery {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
}

.achieve-gallery-contents {
  aspect-ratio: 1 / 1;
  width: 30%;
}

.achieve-gallery-contents:nth-child(1){
  background-image: url(../src/index_info_content.jpg);
}

.achieve-gallery-contents:nth-child(2){
  background-image: url(../src/a-tune.jpg);
}

.achieve-gallery-contents:nth-child(3){
  background-image: url(../src/shingetsu.jpg);
}

.achieve-gallery-contents img {
  aspect-ratio: 1 / 1;
  width: 100px;
  margin-bottom: 10px;
}

.achieve-gallery-contents p {
  font-weight: 600;
  margin: 0 20%;
}


/* big tablet phone */
@media  screen and (max-width: 1200px) { 

}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 

}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* -------------------- */

.activity-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.activity-contents .center {
  padding: 75px 10px;
  text-align: center;
}

.activity-inf {
  margin: 75px 0;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.activity-inf-text {
  width: 45%;
}

.activity-inf-text h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.activity-inf img {
  width: 45%;
  height: 600px;
  background-color: aquamarine;
  object-fit: cover;
}

.activity-inf:nth-child(4) {
  flex-direction: row-reverse;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 

}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 

}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* -------------------- */

footer {
  padding: 50px 10%;
}

footer .sns {
  margin-top: 50px;
  width: 50%;
}

@media  screen and (max-width: 768px) { 
  footer {
    padding: 50px 5%;
    text-align: center;
  }

  footer .sns {
    margin-top: 30px;
    width: 100%;
  }

  .sns ul {
    margin: 0 25%;
    justify-content: space-around;
  }
}

@media  screen and (max-width: 500px) { 
    
}

/* ------tmp----- */
/* -main horizon line style- */

.main-horizon-line {
  display: block;
  position: absolute;
  height: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.main-horizon-line-typeA {
  width: calc(100% / 12 * 11);
}

.main-horizon-line-typeB {
  margin-left: calc(100% / 12);
  width: calc(100% / 12 * 11);
}

.main-horizon-line-typeC {
  width: 100%;
}

.sub-horizon-line {
  display: block;
  height: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.sub-horizon-line-typeA {
  width: calc(110% + 20px);
  transform: translateX(-10px);
}

.sub-horizon-line-typeB {
  width: calc(100% + 20px);
  transform: translateX(-10px);
}

.horizon-line-anime {
  width: 0;
}

/* -sub vertical line style- */

.sub-vertical-line {
  display: block;
  width: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.line-left {
  height: 100%;
  margin-left: auto;
}

.line-right {
  height: 40%;
  margin-top: calc(600px + 150px + 75px);
  margin-right: auto;
}

.line-vert-a {
  height: 110%;
  margin-left: auto;
  position: relative;
}

.vertical-line-anime {
  height: 0;
}

/* ----bg section---- */

.bg-section-01 {
  background-image: url(../src/bg-test2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-section-02 {
  background-image: url(../src/bg-test2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.grid__item:nth-child(1) {
  background: #000000;
}

/* -- other --*/

.fadeIn {
  opacity: 0;
  transform: translateY(50px);
}

/* big tablet phone */
@media  screen and (max-width: 1200px) {
  
}

/* mini tablet screen - big smart phone */
@media screen and (max-width: 768px) { 
 
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}
