* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

a {
  color: #fefefe;
  text-decoration: none; 
} 

a:hover {
  opacity: 50%;
  transition: 0.5s;
}

img {
  box-shadow: 0 0 10px #000000;
}

p {
  line-height: 1.8em;
}

.detail-button {
  display: inline-block;
  transition: 0.5s;
}

/* TODO? */
.detail-button p {
  white-space: nowrap;
}

.detail-button:hover {
  text-decoration: underline;
}

/* big tablet screen */
@media  screen and (max-width: 1200px) { 
  h1 {
    font-size: 36px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 16px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 14px;
    font-weight: 600;
  }

  p {
    font-size: 12px;
  }

  img {
    box-shadow: 0 0 8px #000000;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 16px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 600;
  }

  p {
    font-size: 10px;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
  h1 {
    font-size: 20px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 14px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 600;
  }

  p {
    font-size: 10px;
  }
}

/* ------------------ */

html {
  background-color: black;
  color: #ffffff;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-contents .logo img {
  height: 25px;
  font-size: 20px;
  box-shadow: none;
}

.header-contents {
  display: flex;
  height: 50px;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;
}

.header-contents nav {
  width: 50%;
}

.header-contents a {
  display: block;
}

.contact-button {
  text-align: center;
  background-color: #000000;
  color: #fefefe;
  padding: 5px 10px;
  border: #fefefe 1.5px solid;
  border-radius: 10px;
}

.contact-button:hover {
  color: #000000;
  background-color: #fefefe;
  opacity: 100%;
}

.sp-header-contents {
  display: none;
}

.header-menu {
  transition: 0.5s;
}


/* big tablet phone */
@media  screen and (max-width: 1200px) { 
    
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .header-contents {
    display: none;
  }

  .sp-header-contents {
    display: block;
  }

  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    width: 80%;
    max-width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 1.0);
    transform: translateX(100%);
  }

  .menu-list {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .header-menu ul {
    margin: 150px 32px;
    height: 25%;
    flex-direction: column;
    align-items: self-end;
    justify-content: space-between;
  }

  .header-menu li {
    margin-bottom: 10px;
    width: 100%;
    border-bottom: solid 1px #fefefe;
  }

  .header-menu a {
    font-size: 18px;
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 32px;
    right:32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 9999;
  }

  .hamburger span {
    /*3本の線を作る*/
    transition: all .3s;
    position: absolute;
    height: 2px;
    background-color: #fefefe;
    width:100%;
    z-index: 10;
  }
  
  .hamburger span:nth-of-type(1) {
    /*上の線の位置*/
    top: 4px;
  }
  
  .hamburger span:nth-of-type(2) {
    /*真ん中の線の位置*/
    top: 12px;
  }
  
  .hamburger span:nth-of-type(3) {
    /*下の線の位置*/
    top: 20px;
  }
  
  .hamburger.open span:nth-of-type(1) {
    /*openのとき、上の線を右斜めにする*/
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
  }
  
  .hamburger.open span:nth-of-type(2) {
    /*真ん中の線を消す*/
    opacity: 0;
  }

  .hamburger.open span:nth-of-type(3) {
    /*下の線を左斜めにする*/
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
  }

  .open {
    transform: translateX(0);
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* ------------------ */

.eye-catch-contents {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 1fr 10fr 1fr;
}

.eye-catch-contents .center {
  display: flex;
  padding: 100px 10px 30px;
  justify-content: space-between;
}

.eye-title p:nth-child(1){
  font-size: 64px;
  font-weight: 900;
}

.eye-title p:nth-child(2){
  font-size: 12px;
  font-weight: 600;
}

.eye-right-contents {
  width: 40%;
  margin-top: 20px;
  text-align: left;
}

.eye-info {
  margin-bottom: 20px;
}

.eye-info a {
  display: inline;
  text-decoration: underline;
}

.sns ul {
  justify-content: flex-start;
  gap: 10%;
}

.sns-icon img {
  max-width: 40px;
  height: 40px;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .eye-catch-contents{
    grid-template-columns: 1fr 18fr 1fr;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) {   
  .eye-catch-contents {
    grid-template-columns: auto;
    height: 90vh;
  }

  .eye-catch-contents .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px 50px;
    text-align: center;
  }

  .eye-title p:nth-child(1){
    font-size: 48px;
  }

  .eye-title p:nth-child(2) {
    font-size: 10px;
    position: relative;
    top: -20px;
  }

  .eye-right-contents {
    width: 80%;
    max-width: 400px;
  }

  .eye-right-contents .sns {
    display: none;
  }

  .eye-info {
    text-align: center;
  }

  .eye-info a {
    white-space: nowrap;
  }

  .sns-icon img {
    max-width: 32px;
    height: 32px;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* ------------------- */

.about-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.about-contents .center {
  display: flex;
  padding: 75px 10px;
  justify-content: space-between;
}

.about-text {
  width: 45%;
}

.about-text .title-contents {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-info .detail-button {
  margin-top: 30px;
}

.about-contents img {
  width: 45%;
  height: 600px;
  object-fit: cover;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .about-contents {
    grid-template-columns: 1fr 18fr 1fr;
  }

  .about-contents .center {
    align-items: center;
  }

  .about-text {
    width: 48%;
  }

  .about-text .title-contents {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .about-contents img {
    width: 48%;
    height: 400px;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .about-contents {
    grid-template-columns: auto;
  }

  .about-contents .center {
    padding: 75px 5%;
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    width: 100%;
    margin-bottom: 75px;
  }

  .about-info {
    padding: 0 20px 0;
  }
  
  .about-contents img {
    width: 100%;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* ------------------ */

.ac-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.ac-contents .center {
  display: flex;
  padding: 75px 10px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
}

.ac-contents img {
  width: 45%;
  height: 600px;
  object-fit: cover;
}

.ac-text {
  width: 45%;
}

.ac-text .title-contents {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ac-text .title-contents h1 {
  font-size: 32px;
}

.ac-info .detail-button {
  margin-top: 30px;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .ac-contents {
    grid-template-columns: 1fr 18fr 1fr;
  }

  .ac-contents .center {
    align-items: center;
  }
  
  .ac-contents img {
    width: 48%;
    height: 400px;
  }
  
  .ac-text {
    width: 48%;
  }
  
  .ac-text .title-contents {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .ac-text .title-contents h1 {
    font-size: 28px;
  }  
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .ac-contents {
    grid-template-columns: auto;
  }

  .ac-contents .center {
    padding: 75px 5%;
    flex-direction: column-reverse;
    text-align: center;
  }

  .ac-text {
    width: 100%;
    margin-bottom: 75px;
  }

  .ac-info {
    padding: 0 20px 0;
  }

  .ac-contents img {
    width: 100%;
  }

  .ac-text .title-contents h1 {
    font-size: 20px;
  }  
  
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
  .ac-text .title-contents h1 {
    font-size: 16px;
  }  
}

/* ------------------ */

.inf-contents {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.inf-contents .center {
  padding: 75px 0 50px;
  text-align: center;
}

.inf-contents .title-contents:nth-child(1) {
  margin-bottom: 50px;
}

.timeline {
  margin-bottom: 150px;
}

.timeline ul {
  display: list-item;
  list-style: none;
}

/*--change--*/
.timeline a {
  transition: 0.5s;
  padding: 20px 0 20px;
  display: flex;
  align-items: center;
}

.timeline li a:hover {
  background-color: #fefefe;
  color: #000000;
}

.timeline-content {
  gap: 5%;
}

.timeline-content img {
  width: 5%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.timeline-content p {
  margin-left: 5%;
  font-size: 16px;
}

.timeline-content p:nth-child(3){
  text-align: left;
}

.timeline .detail-button {
  margin-top: 50px;
}

.date {
  margin-left: 10%;
}

.date p:nth-child(1) {
  font-size: 40px;
}

.date p:nth-child(2) {
  font-size: 12px;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .inf-contents {
    grid-template-columns: 1fr 19fr;
  }

  .inf-contents .title-contents:nth-child(1) {
    margin-bottom: 25px;
  }
  
  .timeline a {
    padding: 10px 0 10px;
  }

  .timeline-content p {
    font-size: 14px;
  }

  .timeline-content img {
    width: 7%;
  }

  .date p:nth-child(1) {
    font-size: 36px;
  }

  .date p:nth-child(2) {
    font-size: 10px;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .inf-contents {
    grid-template-columns: auto;
  }

  .timeline {
    margin-bottom: 100px;
  }

  .timeline a {
    padding: 10px 10%;
    gap: 5%;
  }

  .timeline-content p {
    margin-left: 0;
  }

  .timeline-content img {
    width: 10%;
  }
  
  .date {
    margin-left: 0;
  }

  .timeline-content p {
    font-size: 12px;
  }

  .date p:nth-child(1) {
    font-size: 24px;
  }

  .date p:nth-child(2) {
    font-size: 8px;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
  .timeline-content p {
    font-size: 10px;
  }

  .date p:nth-child(1) {
    font-size: 20px;
  }

  .date p:nth-child(2) {
    font-size: 6px;
  }
}

/* -------------------- */

.projects-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects-item:nth-child(3){
  margin: 25px 0;
}

.projects-item:nth-child(1) .pj-text-inf:nth-child(2) {
  border-right: #fefefe 1px solid;
}

.projects-item:nth-child(5) .pj-text-inf:nth-child(1) {
  border-right: #fefefe 1px solid;
}

.pj-img-inf {
  width: 30%;
  aspect-ratio: 5 / 6;
  object-fit: cover;
}

.pj-text-inf {
  width: 30%;
  height: 100%;
  padding: 10% 5%;
  aspect-ratio: 5 / 6;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.projects-item:nth-child(1) .pj-text-inf:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.8);
}

.projects-item:nth-child(1) .pj-text-inf:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.8);
}

.projects-item:nth-child(5) .pj-text-inf:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.8);
}

.projects-item:nth-child(5) .pj-text-inf:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.8);
}

.pj-comment {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 75px;
}

.pj-comment h2 {
  margin-bottom: 30px;
}

.pj-comment p:nth-child(2) {
  margin-bottom: 50px;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
    
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .projects-item {
    width: 100%;
    display: block;
    flex-direction: column;
    text-align: center;
  }

  .projects-item:nth-child(3){
    margin: 0;
  }
  
  .projects-item:nth-child(1) .pj-text-inf:nth-child(2) {
    border-right: none;
  }
  
  .projects-item:nth-child(5) .pj-text-inf:nth-child(1) {
    border-right: none;
  }

  .pj-img-inf {
    max-height: 400px;
    width: 90%;
    margin: 5% 0;
    aspect-ratio: 0;
  }

  .pj-img-inf:nth-child(1) {
    display: none;
  }

  .pj-img-inf:nth-child(3) {
    display: none;
  }
  
  .pj-text-inf {
    min-height: 300px;
    width: auto;
    padding: 50px calc(10% + 20px);
    aspect-ratio: 0;
    justify-content: center;
    gap: 30px;
  }
  
  .projects-item:nth-child(1) .pj-text-inf:nth-child(3) {
    display: none;
  }
  
  .projects-item:nth-child(5) .pj-text-inf:nth-child(1) {
    display: none;
  }

  .pj-comment {
    padding: 100px calc(5% + 20px) 75px;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}

/* -------------------- */

.works-contents {
  display: grid;
  grid-template-columns: 1fr 4fr 6fr 1fr;
}

.works-contents .second {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
}

.works-slide {
  margin: 75px 0;
}

.works-slide .title-contents {
  margin-bottom: 30px;
}

.slide-text {
  margin-bottom: 30px;
  width: 90%;
}

.works-contents .third {
  padding: 75px 10px;
  display: flex;
  flex-wrap: wrap;
}

.disp-content {
  display: flex;
  width: calc(50% - 60px);
  margin: 0 30px 50px;
  padding-bottom: 100px;
  flex-flow: column;
}

.disp-content:hover{
  text-decoration: underline;
}

.disp-content img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.disp-inf {
  padding: 20px 10px 0;
}

.disp-title {
  margin-bottom: 20px;
}

.disp-title p {
  font-weight: 200;
}

/* big tablet phone */
@media  screen and (max-width: 1200px) { 
  .works-contents {
    grid-template-columns: 1fr 7fr 11fr 1fr;
  }
}

/* mini tablet screen - big smart phone */
@media  screen and (max-width: 768px) { 
  .works-contents {
    grid-template-columns: auto;
  }

  .works-contents .second {
    background: none;
    display: flex;
    justify-content: center;
  }

  .works-slide {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 75px 0 30px;
  }

  .slide-text {
    width: 100%;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
  .disp-content {
    width: calc(100% - 40px);
    margin: 0 20px 50px;
  }

  .disp-content:nth-child(n+4) {
    display: none;
  }
}

/* -------------------- */

footer {
  padding: 50px 10%;
}

footer .sns {
  margin-top: 50px;
  width: 50%;
}

@media  screen and (max-width: 768px) { 
  footer {
    padding: 50px 5%;
    text-align: center;
  }

  footer .sns {
    margin-top: 30px;
    width: 100%;
  }

  .sns ul {
    margin: 0 25%;
    justify-content: space-around;
  }
}

@media  screen and (max-width: 500px) { 
    
}

/* ------add----- */
/* main horizon layout */

.main-horizon-line {
  display: block;
  position: absolute;
  height: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.main-horizon-line-typeA {
  width: calc(100% / 12 * 11);
}

.main-horizon-line-typeB {
  width: calc(100% / 12 * 11);
  margin-left: calc(100% / 12);
}

.main-horizon-line-typeC {
  width: calc(100% / 12 * 10);
  margin-left: calc(100% / 12);
}

.main-horizon-line-typeD {
  width: 100%;
}

.horizon-line-anime {
  width: 0;
}

/* --- main vertical layout --- */

.sub-vertical-line {
  display: block;
  width: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.line-left {
  height: 100%;
  margin-left: auto;
}

.line-right {
  position: relative;
  height: 110%;
  margin-right: auto;
}

.line-works {
  transform: translateX(10px);
  height: 100%;
}

.vertical-line-anime {
  height: 0;
}

/* ------fixed line layout---- */

.timeline li {
  border-bottom: #fefefe 1px solid;
}

.pj-horizon-line {
  position: relative;
  display: block;
  height: 1px;
  background-color: #fefefe;
  width: calc(100% / 12 * 11);
}

.pj-horizon-line:nth-child(4) {
  margin-left: calc(100% / 12);
}

.pj-horizon-line:nth-child(6) {
  margin-left: calc(100% / 12);
}

/* ------bg style----- */

.bg-section-01 {
  background-image: url(../src/bg-test.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-section-02 {
  background-image: url(../src/bg-test.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-section-03 {
  background-image: url(../src/bg-test2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.grid__item:nth-child(1) {
  background: #000000;
}

/* -- other --*/

.fadeIn {
  opacity: 0;
  transform: translateY(50px);
}

/* big tablet phone */
@media  screen and (max-width: 1200px) {
  .main-horizon-line-typeA {
    width: calc(100% / 20 * 19);
  }
  
  .main-horizon-line-typeB {
    width: calc(100% / 20 * 19);
    margin-left: calc(100% / 20);
  }
  
  .main-horizon-line-typeC {
    width: calc(100% / 20 * 18);
    margin-left: calc(100% / 20);
  }  

  .horizon-line-anime {
    width: 0;
  }

  .pj-horizon-line {
    width: 100%;
  }
  
  .pj-horizon-line:nth-child(4) {
    margin-left: 0;
  }
  
  .pj-horizon-line:nth-child(6) {
    margin-left: 0;
  }
}

/* mini tablet screen - big smart phone */
@media screen and (max-width: 768px) { 
  .main-horizon-line {
    width: 100%;
    margin-left: 0;
  }
  
  .sub-vertical-line {
    display: none;
  }

  .grid__item:nth-child(1) {
    display: none;
  }

  .grid__item:nth-child(3):not(.third) {
    display: none;
  }
}

/* iPhone SE */
@media  screen and (max-width: 500px) { 
    
}
