* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

a {
  color: #fefefe;
  text-decoration: none; 
} 

a:hover {
  opacity: 50%;
  transition: 0.5s;
}

img {
  box-shadow: 0 0 10px #000000;
}

p {
  line-height: 1.8em;
}

.detail-button {
  display: inline-block;
  transition: 0.5s;
}

.detail-button:hover {
  text-decoration: underline;
}

/* ------------------ */

html {
  background-color: black;
  color: #ffffff;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-contents .logo img {
  height: 25px;
  font-size: 20px;
  box-shadow: none;
}

.header-contents {
  display: flex;
  height: 50px;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;
}

.header-contents nav {
  width: 50%;
}

.header-contents a {
  display: block;
}

.contact-button {
  text-align: center;
  background-color: #000000;
  color: #fefefe;
  padding: 5px 10px;
  border: #fefefe 1.5px solid;
  border-radius: 10px;
}

.contact-button:hover {
  color: #000000;
  background-color: #fefefe;
  opacity: 100%;
}

/* ------------------ */

.eye-catch-contents {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 1fr 10fr 1fr;
}

.eye-catch-contents .center {
  display: flex;
  padding: 100px 10px 30px;
  justify-content: space-between;
}

.eye-title p:nth-child(1){
  font-size: 64px;
  font-weight: 900;
}

.eye-title p:nth-child(2){
  font-size: 12px;
  font-weight: 600;
}

.eye-right-contents {
  width: 40%;
  margin-top: 20px;
  text-align: left;
}

.eye-info {
  margin-bottom: 20px;
}

.eye-info a {
  display: inline;
  text-decoration: underline;
}

.sns ul {
  justify-content: flex-start;
  gap: 10%;
}

.sns-icon img {
  max-width: 40px;
  height: 40px;
}

/* ------------------ */

.inf-contents {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.inf-contents .center {
  padding: 75px 0 50px;
  text-align: center;
}

.inf-contents .title-contents:nth-child(1) {
  margin-bottom: 50px;
}

.timeline {
  margin-bottom: 150px;
}

.timeline ul {
  display: list-item;
  list-style: none;
}

.timeline a {
  transition: 0.5s;
  padding: 20px 0 20px;
  display: flex;
  align-items: center;
}

.timeline li a:hover {
  background-color: #fefefe;
  color: #000000;
}

.timeline-content {
  gap: 5%;
}

.timeline-content img {
  width: 5%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.timeline-content p {
  margin-left: 5%;
  font-size: 16px;
}

.date {
  margin-left: 10%;
}

.date p:nth-child(1) {
  font-size: 40px;
}

.date p:nth-child(2) {
  font-size: 12px;
}

/* ------------------ */

.press-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.press-contents .center {
  padding: 75px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.press-contents .title-contents {
  margin-bottom: 75px;
}

.pdf-link {
  display: flex;
  margin-bottom: 75px;
  flex-direction: column;
  gap: 15px;
}

/* ------------------ */

.follow-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.follow-contents .center {
  padding: 75px 10px;
  text-align: center;
}

.follow-contents .title-contents {
  margin-bottom: 75px;
}

.follow-sns-gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 75px;
}

.sns-gallery-contents {
  position: relative;
  z-index: 1;
  width: 25%;
  aspect-ratio: 1 / 1;
  background-color: #93ffbe;
}

/* .sns-gallery-contents img {
    width: 100%;
    aspect-ratio: 1 / 1;
} */

.sns-gallery-contents img:nth-child(2) {
  position: absolute;
}

/* ------------------ */

footer {
  padding: 50px 10%;
}

footer .sns {
  margin-top: 50px;
  width: 50%;
}

/* main horizon layout */

.main-horizon-line {
  display: block;
  position: absolute;
  height: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.main-horizon-line-typeA {
  width: calc(100% / 12 * 11);
}

.main-horizon-line-typeB {
  margin-left: calc(100% / 12);
  width: calc(100% / 12 * 11);
}

.main-horizon-line-typeC {
  width: 100%;
}

.horizon-line-anime {
  width: 0;
}

/* main vertical layout */

.sub-vertical-line {
  display: block;
  width: 1px;
  background-color: #fefefe;
  height: 100%;
  transition: 1.5s;
}

.inf-vertical-line {
  height: 110%;
}

.follow-vertical-line {
  height: calc(100% + 20px);
  transform: translateY(-20px);
}

.line-left {
  position: relative;
  margin-left: auto;
}

.line-right {
  position: relative;
  margin-right: auto;
  height: 110%;
}

.vertical-line-anime {
  height: 0;
}

/* --- fixed line layout --- */
.timeline li {
  border-bottom: #fefefe 1px solid;
}

/* -------bg style------- */

.grid__item:nth-child(1) {
  background: #000000;
}


.bg-section-01 {
  background-image: url(../src/bg-test2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
