* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

.j-h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

/* --------------------- */

a {
  color: #fefefe;
  text-decoration: none; 
} 

a:hover {
  opacity: 50%;
  transition: 0.5s;
}

img {
  box-shadow: 0 0 10px #000000;
}

/* ~~~~add~~~~~ */

p {
  line-height: 1.8em;
}

.detail-button {
  display: inline-block;
  transition: 0.5s;
}

.detail-button:hover {
  text-decoration: underline;
}

/* ------------------ */

html {
  background-color: black;
  color: #ffffff;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-contents .logo img {
  height: 25px;
  font-size: 20px;
  box-shadow: none;
}

.header-contents {
  display: flex;
  height: 50px;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;
}

.header-contents nav {
  width: 50%;
}

.header-contents a {
  display: block;
}

.contact-button {
  text-align: center;
  background-color: #000000;
  color: #fefefe;
  padding: 5px 10px;
  border: #fefefe 1.5px solid;
  border-radius: 10px;
}

.contact-button:hover {
  color: #000000;
  background-color: #fefefe;
  opacity: 100%;
}

/* ---------------- */

.eye-catch-contents {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 1fr 10fr 1fr;
}

.eye-catch-contents .center {
  display: flex;
  padding: 100px 10px 30px;
  justify-content: space-between;
}

.eye-title p:nth-child(1){
  font-size: 64px;
  font-weight: 900;
}

.eye-title p:nth-child(2){
  font-size: 12px;
  font-weight: 600;
}

.eye-right-contents {
  width: 40%;
  margin-top: 20px;
  text-align: left;
}

.eye-info {
  margin-bottom: 20px;
}

.eye-info a {
  display: inline;
  text-decoration: underline;
}

.sns ul {
  justify-content: flex-start;
  gap: 10%;
}

.sns-icon img {
  max-width: 40px;
  height: 40px;
}

/* -------------------- */

.projects-page-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.projects-page-contents .center {
  padding: 75px 10px;
}

.projects-page-contents .title-contents {
  text-align: center;
}

.pj-inf {
  display: flex;
  margin: 75px 0 75px;
  justify-content: space-between;
}

.pj-inf:nth-child(3) {
  flex-direction: row-reverse;
}

.pj-inf .pj-text-inf {
  width: 45%;
}

.pj-title-contents p:nth-child(2) {
  margin-bottom: 30px;
}

.pj-text-contents {
  margin-top: 50px;
}

.pj-text-contents h2 {
  margin-bottom: 30px;
}

.pj-inf img {
  width: 45%;
  height: 600px;
}

/* -------------------- */

.QandA-contents {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.QandA-contents .center {
  text-align: center;
  padding: 75px 10px;
}

.question-gallery {
  text-align: left;
  width: 75%;
  display: flex;
  margin: 150px auto;
  flex-direction: column;
  gap: 30px;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question:nth-child(2) {
  flex-direction: row-reverse;
}

.question .question-text {
  width: 45%;
}

.question img {
  width: 45%;
  aspect-ratio: 1 / 1;
  background-color: #000000;
}

.question-text h2 {
  font-size: 56px;
  margin-bottom: 10px;
}

.question-text p:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.pj-comment {
  text-align: center;
}

.pj-comment h2 {
  margin-bottom: 30px;
}

/* -------------------- */

footer {
  padding: 50px 10%;
}

footer .sns {
  margin-top: 50px;
  width: 50%;
}

/* -main horizon line style- */

.main-horizon-line {
  display: block;
  height: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.main-horizon-line-typeA {
  width: calc(100% / 12 * 11);
}

.main-horizon-line-typeB {
  width: calc(100% + 20px);
  transform: translateX(-10px);
}

.main-horizon-line-typeC {
  width: calc(100% / 12 * 10);
  margin-left: calc(100% / 12);
}

.main-horizon-line-typeD {
  width: 100%;
}

.horizon-line-anime {
  width: 0;
}

/* -sub vertical line style- */

.sub-vertical-line {
  display: block;
  width: 1px;
  background-color: #fefefe;
  transition: 1.5s;
}

.line-left {
  margin-left: auto;
}

.line-right {
  margin-right: auto;
}

.sub-vertical-line-typeA {
  height: 110%;
}

.sub-vertical-line-typeB {
  height: 60%;
}

.sub-vertical-line-typeC {
  position: relative;
  margin-top: 700px;
  height: 70%;
}

.sub-vertical-line-typeD {
  position: relative;
  transform: translateY(-50px);
  height: calc(100% + 50px);
}

.vertical-line-anime {
  height: 0;
}

/* ----------- */

.grid__item:nth-child(1) {
  background: #000000;
}

.bg-section-01 {
  background-image: url(../src/bg-test2.png);
  background-size: cover;
  background-repeat: no-repeat;
}